*{
    margin: 0;
    padding: 0;
}
.contaioner{
    height: 100vh;
    width: 100%;
    background-image:OIP(1),jpg;
    background-position: center;
    background-size: cover;
    padding-left: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
    cursor: pointer;
}
.cart{
    width: 160px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style:none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#1d257a;
}
.content h1{
    font-size: 60px;
    font-weight: 100px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #953232;
}
.content p{
    font-size: 20px;
    color: #8d9532;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #953232, #ff7cff);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #953232;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 15);
}
.arrow-icons img{
    width: 40px;
    margin-right: 25px;
}
nav ul li a:hover{
    color: #1c16be;
}
.future-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social-link{
    transform-origin: 10px;
    position: relative;
}
.social-link a{
    text-decoration: none;
    color: #953232;
    padding-bottom: 20px;
    font-size: 15px;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size:30px;
    color:#be1455ab;
}

span{
    color:none;
}

.detel p{
    color:#555;
    line-height:22px;
}

.detel a{
    background: #222e9f29;
    padding: 10px 18px;
    text-decoration: none;
    font-family: bold;
    color:#953232;
    display: inline-block;
    margin:30px 0;
    border-radius: 5px;
}

.main{
    width: 100%;
    background:#faca47;
}

.logo{
    color: #503d88;
    font-size: 25px;
    font-familY: Arial;
    padding-left:25px;
}

.menu{
    width: 0px;
    height: 0px;
}

UL{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size:14px;
}

ul li a{
    text-decoration:none;
    color:#ac358e;
    font-family:Arial;
    font-weight:bold;
    transition:0,4s ease-in-out;
}

ul li a:hover{
    color:#d77a32;

}
.search{
    width:330px;
    float:left;
    margin-left:270px;
}

.ul li a :hover{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size:14px;
}