*{
    margin: 0;
}

nav{
    display:flex;
    margin:auto;
    padding:20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style:none;
    margin: 1opx 20px;
}

nav ul li a{
    text-decoration: none;
    color:#000000;
    font-weight:bold;
}

nav ul li a:hover{
    color: #1c16be;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size:30px;
    color:#1d0b12ab;
}

span{
    color:none;
}

.detel p{
    color:#555;
    line-height:22px;
}

.detel a{
    background: #222e9f29;
    padding: 10px 18px;
    text-decoration: none;
    font-family: bold;
    color:#953232;
    display: inline-block;
    margin:30px 0;
    border-radius: 5px;
}

.main{
    width: 100%;
    background:#faca47;
}

.logo{
    color: #503d88;
    font-size: 25px;
    font-familY: Arial;
    padding-left:25px;
}

.menu{
    width: 0px;
    height: 0px;
}

UL{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size:14px;
}

ul li a{
    text-decoration:none;
    color:#ac358e;
    font-family:Arial;
    font-weight:bold;
    transition:0,4s ease-in-out;
}

ul li a:hover{
    color:#d77a32;

}
.search{
    width:330px;
    float:left;
    margin-left:270px;
}